/* reset */
* {font-family:'Noto Sans KR', sans-serif;font-weight:400;letter-spacing:0;color:#000;outline:none;}
html,body {width:100%;height:100%;}
body {-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background:#f5eded;}
img {width:100%;border:none;display:block;}
html,body,ul,ol,p,h1,h2,h3,h4,h5 {margin:0;padding:0;}
strong {font-weight:700;color:inherit;}
a {text-decoration: none;outline:none;font-size:inherit;color:inherit;}
ul li, ol li {list-style:none;vertical-align: middle}
textarea {resize:none;}
select {-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select::-ms-expand {display:none;}
form * {border:0;outline:0;margin:0;padding:0;}
input,button,textarea {border-radius:0;-webkit-appearance:none;box-shadow:none;}
svg {overflow:hidden;width:100%;height:100%;}
table {border-collapse:collapse;}
button {border:none;}

/* header */
header {position: fixed; width: 100%; top: 0; left: 0; z-index: 500; text-align: right;}
header .logo {position: absolute; top: 100px; left: -50px; z-index: 500; transform: rotate(-90deg);}
header .logo a {font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 700; letter-spacing: -0.5px; transition: 0.3s ease;}
header .logo.active a {color: #fff;}
header .menu-btn {position: relative; display: inline-block; width: 40px; height: 20px; z-index: 500; margin: 40px; cursor: pointer; vertical-align: top;}
header .menu-btn::before, header .menu-btn::after {content: ''; position: absolute; display: block; width: 100%; height: 5px; background: #000; transition: 0.3s ease;}
header .menu-btn::before {top: 0;}
header .menu-btn::after {bottom: 0;}
header .menu-btn.active::before {top: 6px; transform: rotate(45deg); background: #fff;}
header .menu-btn.active::after {bottom: 9px; transform: rotate(-45deg); background: #fff;}
header .menu-item {position: absolute; width: 100%; height: 100vh; top: 0; right: -100%; background: #101010; transition: 0.3s ease;}
header .menu-item ul {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
header .menu-item ul li {text-align: center; margin-bottom: 26px; cursor: pointer;}
header .menu-item ul li a {position: relative; font-family: 'Montserrat', sans-serif; font-size: 48px; font-weight: 300; color: #fff; }
header .menu-item ul li a::after {content: ''; position: absolute; width: 0; height: 1px; left: 0; bottom: 0; background: #fff; transition: 0.3s ease;}
header .menu-item ul li:hover a::after {width: 100%;}
header .menu-item.active {right: 0;}

@media (max-width: 768px) {
    header {background: #101010;}
    header .logo {top: 0; left: 24px; transform: none; color: #fff;}
    header .logo a {font-size: 18px;}
    header .menu-btn {width: 30px; height: 14px; margin: 24px;}
    header .menu-btn::before, header .menu-btn::after {height: 3px; background: #fff;}
    header .menu-btn.active::before {top: 5px;}
    header .menu-btn.active::after {bottom: 6px;}
    header .menu-item ul {width: 100%;}
    header .menu-item ul li {margin-bottom: 16px;}
    header .menu-item ul li a {font-size: 32px;}
    header .menu-item ul li:last-child {margin-bottom: 0;}
    header .menu-item ul li a::after {display: none;}
}

/* footer */
footer {background: #101010; padding: 30px 100px; text-align: center; word-break: keep-all;}
footer small {color: #fff;}
footer p {color: #fff; font-size: 14px; margin-top: 5px; letter-spacing: -0.5px;}

@media (max-width: 1080px) {
    footer {padding: 30px 10%;}
}

@media (max-width: 768px) {
    footer {padding: 20px 24px;}
    footer small {font-size: 12px;}
    footer p {font-size: 12px;}
}

/* top button */
.top-btn {position: fixed; right: 30px; bottom: 100px; width: 46px; height: 30px; cursor: pointer; opacity: 0; visibility: hidden; transition: 0.3s ease;}
.top-btn.active {opacity: 1; visibility: visible;}
.top-btn::before, .top-btn::after {content: ''; position: absolute; width: 23px; height: 2px; top: 50%; transform: translateY(-50%); background: #101010; transition: 0.2s ease;}
.top-btn::before {left: 0;}
.top-btn::after {right: 0;}
.top-btn:hover::before {width: 28px; transform: rotate(-45deg);}
.top-btn:hover::after {width: 27px; transform: rotate(45deg);}

@media (max-width: 768px) {
    .top-btn {right: 24px; bottom: 60px;}
    .top-btn::before {width: 28px; transform: rotate(-45deg);}
    .top-btn::after {width: 27px; transform: rotate(45deg);}
}