/* common */
section {padding: 80px 100px 0;}
section .tit span {font-family: 'Montserrat', sans-serif; display: inline-block; font-size: 46px; font-weight: 700; line-height: 0; margin: 20px 0 42px; padding-bottom: 10px; border-bottom: 10px solid #ffe9a8;}

@media (max-width: 1080px) {
    section {padding: 80px 10% 0;}
}

@media (max-width: 768px) {
    section {padding: 40px 24px 0;}
    section .tit span {font-size: 28px; margin: 16px 0 30px; padding-bottom: 6px; border-bottom: 6px solid #ffe9a8;}
}

/* top section */
.top-sec {height: 100vh; padding: 0 100px;}
.top-sec .wrap-img li {position: absolute;}
.top-sec .wrap-img li:nth-child(1) {top: 2%; left: 2%;}
.top-sec .wrap-img li:nth-child(2) {top: 15%; right: 2%;}
.top-sec .wrap-img li:nth-child(3) {bottom: 5%; left: 10%;}
.top-sec .txt {position: absolute; width: 100%; left: 50%; top: 50%; transform: translate(-50%,-50%); font-size: 48px; font-weight: 300; text-align: center; letter-spacing: -3.5px;}

@media (max-width: 768px) {
    .top-sec {padding: 0 24px;}
    .top-sec .wrap-img li {width: 80%;}
    .top-sec .wrap-img li:nth-child(1) {top: 15%; left: 2%;}
    .top-sec .wrap-img li:nth-child(2) {top: 35%; right: 2%;}
    .top-sec .wrap-img li:nth-child(3) {bottom: 5%; left: 2%;}
    .top-sec .txt {font-size: 28px; letter-spacing: -2.5px;}
}

/* about me */
.about-sec .profile-img {position: relative; display: inline-block; width: 45%; margin-right: -4px; vertical-align: top;}
.about-sec .profile-img::after {content: ''; position: absolute; width: 100%; height: 100%; top: -10px; right: 10px; border: 3px solid #fff; box-sizing: border-box;}
.about-sec .profile-info {display: inline-block; width: 52%; margin-left: 3%; vertical-align: top;}
.about-sec .profile-info li {margin-bottom: 10px;}
.about-sec .profile-info li:last-child {margin-bottom: 0;}
.about-sec .profile-info p {font-size: 16px; font-weight: 300; letter-spacing: -0.6px; word-break: keep-all;}
.about-sec .profile-info .tit {font-size: 13px; font-weight: 700;}
.about-sec .profile-info .date {display: block; font-size: 14px; font-weight: 500; color: #525252; margin-top: 2px;}
.about-sec .profile-info .multi p:not(.tit) {margin-bottom: 5px;}

@media (max-width: 768px) {
    .about-sec .profile-img {width: 100%; margin-right: 0;}
    .about-sec .profile-img::after {top: -6px; right: 6px; border: 2px solid #fff;}
    .about-sec .profile-info {width: 100%; margin-left: 0; margin-top: 20px;}
    .about-sec .profile-info li {margin-bottom: 6px;}
    .about-sec .profile-info p {font-size: 14px;}
    .about-sec .profile-info .date {font-size: 13px;}
}

/* work&study */
.wrap-list .item {display: inline-block; width: 25%; margin-right: -4px; vertical-align: top;}
.wrap-list .item a {position: relative; display: block;}
.wrap-list .item a::before {content: ''; position: absolute; width: 100%; height: 100%; background: #000; mix-blend-mode: color; transition: 0.2s ease;}
.wrap-list .item:hover a::before {z-index: -1;}
.wrap-list .item .txt {position: absolute; width: calc(100% - 10px); bottom: 10px; left: 10px; transform: translateY(15px); opacity: 0; visibility: hidden; transition: 0.3s ease;}
.wrap-list .item:hover .txt {opacity: 1; visibility: visible; transform: none;}
.wrap-list .item .txt .tit {font-weight: 700; letter-spacing: -0.5px; font-size: 18px; color: #fff;}
.wrap-list .item .txt .sub {font-size: 13px; letter-spacing: -0.5px; color: #fff;}
.wrap-list .more-btn {display: block; text-align: right; margin-top: 30px;}
.wrap-list .more-btn a {position: relative; display: inline-block; font-family: 'Montserrat', sans-serif; padding: 10px 24px; text-align: center; color: #101010; border: 1px solid #101010; font-size: 18px; transition: 0.2s ease-in-out; overflow: hidden; vertical-align: top;}
.wrap-list .more-btn a::before {display: block; position: absolute; content: ''; width: 3em;height: 100%; top: 0; left: -4.5em; background-color: rgba(255, 255, 255, 0.5); transform: skewX(-45deg) translateX(0); transition: none;}
.wrap-list .more-btn a:hover {background-color: #101010; color: #fff;}
.wrap-list .more-btn a:hover::before {transform: skewX(-45deg) translateX(13.5em); transition: 0.5s ease-in-out;}

@media (max-width: 1080px) {
    .wrap-list .item {width: 50%;}
}

@media (max-width: 768px) {
    .wrap-list .item {width: 100%;}
    .wrap-list .item a::before {z-index: -1;}
    .wrap-list .item .txt {opacity: 1; visibility: visible; transform: none;}
    .wrap-list .item .txt .tit {font-size: 16px;}
    .wrap-list .item .txt .sub {font-size: 12px;}
    .wrap-list .more-btn {margin-top: 24px;}
    .wrap-list .more-btn a {font-size: 16px; padding: 8px 20px;}
    .wrap-list .more-btn a:hover {background: none; color: #101010;}
    .wrap-list .more-btn a:hover::before {transform: none;}
}

/* contact */
.contact-sec {margin: 50px 0 100px;}
.contact-sec ul li {position: relative; border-bottom: 1px solid #101010; margin-top: 40px; padding-bottom: 12px;}
.contact-sec ul li a {display: block;}
.contact-sec ul li a span {font-family: 'Montserrat', sans-serif; letter-spacing: -0.2px; font-size: 20px;}
.contact-sec ul li a span:first-child {font-weight: 300;}
.contact-sec ul li a span:last-child {position: absolute; top: 0; right: 0; font-weight: 500;}
.contact-sec ul li.phone a {cursor: url('../img/phone.cur'), auto;}
.contact-sec ul li.mail a {cursor: url('../img/mail.cur'), auto;}

@media (max-width: 768px) {
    .contact-sec {margin: 30px 0 70px;}
    .contact-sec ul li {margin-top: 26px; padding-bottom: 8px;}
    .contact-sec ul li a span {font-size: 16px;}
}